<div class="panel">

    <h3>
        <span data-bind="translatedText">Hallo, </span>
        <span data-bind="text: username"></span>
    </h3>

    <!-- ko if: games().length > 0 -->
        <ul class="game-list" data-bind="foreach: games">
            <li class="list-link" data-bind="click: open">
                <div class="game-title" data-bind="text: name"></div>
                <div class="game-info" data-bind="translatedText: infoText"></div>
                <div class="clearfix"></div>
                <div>
                    <span data-bind="translatedText">Letzter Zug: </span>
                    <span data-bind="text: updatedAtText"></span>
                </div>
            </li>
        </ul>

        <p data-bind="translatedText">Spiele werden nach einer Woche Inaktivität gelöscht.</p>
    <!-- /ko -->
    <!-- ko ifnot: games().length > 0 -->
        <p data-bind="translatedText">Erstelle ein Spiel, und lade deine Freunde ein!</p>
    <!-- /ko -->
    <button data-bind="translatedText, click: createGame">Neues Spiel erstellen</button>
    
</div>
