<div class="game flex expand" data-bind="dropZone: { accepts: 'cards', drop: $component.attack, dragEnter: $component.allowAttackDrop }">
    
    <ul class="enemies" data-bind="foreach: enemies">
        <li class="enemy">
            <ul class="enemy-cards" data-bind="foreach: hand">
                <li class="card-container">
                    <span class="card" data-bind="css: $data"></span>
                </li>
            </ul>
            
            <div class="enemy-name" data-bind="text: name, css: { 'text-highlight': defender }"></div>
        </li>
    </ul>
    
    <ul class="open-cards" data-bind="foreach: openCards, verticalScroll">
        <li class="open-pair">
            <div class="card-container attack-card" data-bind="dropZone: { accepts: 'cards', drop: $component.defend, dragEnter: $component.allowDefendDrop }">
                <span class="card" data-bind="css: attack"></span>
            </div>
            <div class="card-container defend-card">
                <span class="card" data-bind="css: defend, visible: defend"></span>
            </div>
        </li>
    </ul>
    
    <div class="trump-card card-container">
        <div class="card" data-bind="css: game().trumpCard"></div>
    </div>
    
    <div class="deck card-container" data-bind="visible: game().deck().length">
        <div class="card back"></div>
    </div>
    
    <div class="deck-size" data-bind="text: game().deck().length"></div>
    
    <ul class="player-cards" data-bind="foreach: playerCards, verticalScroll">
        <li class="card-container" data-bind="dragZone: { name : 'cards' }">
            <span class="card" data-bind="css: $data"></span>
        </li>
    </ul>
    
    <div class="game-status-interaction">
        <p class="game-status-text" data-bind="translatedText: gameStatusText"></p>
        
        <button class="game-button" data-bind="translatedText, click: $component.pass, visible: game().isDefending">
            Aufnehmen
        </button>

        <button class="game-button" data-bind="translatedText, click: $component.pass, visible: game().isAttacking">
            Passen
        </button>
    </div>
</div>
