<section class="panel">
    
    <h2 data-bind="translatedText">Anmelden</h2>
    
    <form data-bind="submit: loginOrCreate">

        <div class="form-group">
            <label for="login-username" data-bind="translatedText">Benutzername:</label>
            <input id="login-username" name="username" type="text" maxlength="18" data-bind="value: username" placeholder="DurakPlayer23" />
        </div>
        
        <div class="form-group">
            <label for="login-password" data-bind="translatedText">Passwort:</label>
            <input id="login-pasword" name="password" type="password" data-bind="value: password" placeholder="••••••" />
        </div>

        <div class="form-group" data-bind="slideVisible: createNew">
            <label for="login-email" data-bind="translatedText">E-Mail:</label>
            <input id="login-email" type="email" data-bind="value: email" placeholder="durakmaster@gmail.com" />
        </div>

        <button type="submit" data-bind="translatedText: createNew() ? 'Beitreten' : 'Login'"></button>

        <div class="alert error" data-bind="translatedText: result, fadeIn: result().length > 0"></div>
        
        <div class="text-center">
            <a class="small" href="javascript:void(0)" data-bind="translatedText: createNew() ? 'Ich habe bereits ein Konto' : 'Neues Konto erstellen', click: toggleNew"></a>
        </div>
        

    </form>
</section>
