<h3 data-bind="translatedText">Freunde</h3>

<ul class="flex-expand" data-bind="foreach: friends">
    <li class="friend">
        <h4 data-bind="text: username"></h4>
        <div data-bind="text: statusText"></div>
    </li>
</ul>

<form data-bind="submit: requestFriend">
    <div class="form-group-inline">
        <input type="text" placeholder="Freund hinzufügen" data-bind="textInput: friendRequestName, translatedPlaceholder">
        <button type="submit">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</form>
