.card-container{
    display: inline-block;
    width: calc(50px + 8vw);
}
.card {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    padding-bottom: 145%;
    
    background: white url("/res/skins/french/foreground.png");
    background-size: 900% 400%;
    
    border-radius: 5%;
    border: 1px solid black;
}

.card.back, .card.OO {
    background: black url("/res/skins/french/background.png");
    background-size: 100% 100%;
}

.card.C6 {
    background-position: 0% 0%;
}
.card.C7 {
    background-position: -100% 0%;
}
.card.C8 {
    background-position: -200% 0%;
}
.card.C9 {
    background-position: -300% 0%;
}
.card.CX {
    background-position: -400% 0%;
}
.card.CJ {
    background-position: -500% 0%;
}
.card.CQ {
    background-position: -600% 0%;
}
.card.CK {
    background-position: -700% 0%;
}
.card.CA {
    background-position: -800% 0%;
}


.card.S6 {
    background-position: 0% -100%;
}
.card.S7 {
    background-position: -100% -100%;
}
.card.S8 {
    background-position: -200% -100%;
}
.card.S9 {
    background-position: -300% -100%;
}
.card.SX {
    background-position: -400% -100%;
}
.card.SJ {
    background-position: -500% -100%;
}
.card.SQ {
    background-position: -600% -100%;
}
.card.SK {
    background-position: -700% -100%;
}
.card.SA {
    background-position: -800% -100%;
}


.card.H6 {
    background-position: 0% -200%;
}
.card.H7 {
    background-position: -100% -200%;
}
.card.H8 {
    background-position: -200% -200%;
}
.card.H9 {
    background-position: -300% -200%;
}
.card.HX {
    background-position: -400% -200%;
}
.card.HJ {
    background-position: -500% -200%;
}
.card.HQ {
    background-position: -600% -200%;
}
.card.HK {
    background-position: -700% -200%;
}
.card.HA {
    background-position: -800% -200%;
}


.card.D6 {
    background-position: 0% -300%;
}
.card.D7 {
    background-position: -100% -300%;
}
.card.D8 {
    background-position: -200% -300%;
}
.card.D9 {
    background-position: -300% -300%;
}
.card.DX {
    background-position: -400% -300%;
}
.card.DJ {
    background-position: -500% -300%;
}
.card.DQ {
    background-position: -600% -300%;
}
.card.DK {
    background-position: -700% -300%;
}
.card.DA {
    background-position: -800% -300%;
}